body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #011F3F;
}

.username-input{
  background-color: #011F3F;
  border: 1px solid #FEF2BF;
  color: #FEF2BF;
  border-radius: 10px;
  position: absolute;
  padding: 5px 10px;
  top: 10px;
  right: 2px;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.leaderboard{
  border-radius: 10px;
  background-color: #06192d;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #FEF2BF;
  font-size: 20px;
}

.leaderboard-list{
  display: flex;
  flex-direction: column;
  align-items: center;
}

li{
  list-style-type: none;
  color: #FEF2BF;
  text-align: center;
}
